# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
fire-env/
venv/
.venv/

# Data and models
*.zip
yolov8s.pt
*.weights

# OS files
.DS_Store
Thumbs.db

# Ignore datasets and outputs
data/datasets/
runs/

# Ignore temporary files
*.cache
*.log

# Env & credentials
.env
license.lic
*.bak
*.tmp
