# Python cache
__pycache__/
*.pyc

# Virtual environment
fire-env/
venv/
.venv/

# Data and models
*.zip
*.pt
*.weights

# OS files
.DS_Store
Thumbs.db

# Ignore datasets and outputs
data/datasets/
runs/

# Ignore temporary files
*.cache
*.log
